.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media (max-width: 1024px) {
  /* For mobile and tablet screens */
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}
